/*===========================================================
  CSS Configuration File
===========================================================*/

/**
 * Background image for the portrait container
*/

.portrait {
	background: url(../images/15606282560_1b689de51b_o.jpg) left center ;
	
}

/**
 * Highlight color settings for the page headers
 *
 * Either set the highlight color for all page headers via the .page-heading 
 * class or define the page header background color for each page separatly.
*/

.page-heading {
	background: rgb(28,88,217);
}

/* ----------- */

.page__about .page-heading {
	background: ;
}

.page__portfolio .page-heading {
	background: ;
}

.page__blog .page-heading {
	background: ;
}

.page__contact .page-heading {
	background: ;
}

/**
 * Highlight color settings for page elements
 *
 * Set the highlight color for the color, background, border and box shadow properties
*/

a,
.portrait__social-media a:hover,
.portfolio__grid__item__desc__link:hover span[class^="icon-"],
.portfolio__detail__desc__more-link:hover span[class*="icon"],
.blog__frontpage__more-link:hover span[class*="icon"] {
	color: rgb(28,88,217);
}

.skill-list-1__bar,
.skill-list-2__bar,
.portfolio__grid__item__mask:before,
.form__submit,
.emedu-list-1 li:before,
.emedu-list-2__station:before {
	background: rgb(28,88,217);
}

.navigation li:hover {
	box-shadow: inset 0.25em 0 0 rgb(28,88,217);
}

.testimonial:before {
	background: rgb(28,88,217);
}

.quote {
	border-right: 0.25em solid rgb(28,88,217);
}

.emedu-list-1__date {
	background: rgb(28,88,217);
}

.contact__address,
.contact__web {
	box-shadow: inset 0.25em 0 0 rgb(28,88,217); 
}



